<h2><strong>User info</strong></h2>

  <table>
    <tr>
      <th>name</th>
      <th><%= @user.name %></th>
    </tr>
    <tr>
      <th>Introduction</th>
      <th><%= @user.introduction %></th>
    </tr>
  </table>
  <%= link_to 'Edit', edit_user_path(@user.id) %>

<h2><strong>New book</strong></h2>
<%= form_with model: @book do |f| %>
  
  <div class="book-title">Title</div>
    <%= f.text_field :title %>
  
  <div class="book-body">Opinion</div>
    <%= f.text_area :body %>
      
  <br><%= f.submit "Create Book" %></br>
    
<% end %>