<!--Editing Bookのページ-->
<div class="container mt-3">
  <div class="row">
    <div class="mx-auto">
      <h2>Editing Book</h2>
      
      <% if @book.errors.any? %>
        <%= @book.errors.count %> errors prohibited this obj from being saved:
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      
      <%= form_with model: @book do |f| %>
      
        <div class="book-title">
          <label for="inputTitle">Title</label></br>
            <%= f.text_field :title, autofocus: true, id:"inputTitle" %>
        </div>
        <div class="book-body">
          <label for="inputBody">opinion</label></br>
            <%= f.text_area :body, autofocus: true, id:"inputBody" %>
        </div>
        <div class-"book-botton">
          <input class="btn btn-success" type="submit" value="Update Book">
        </div>
        <%= link_to 'Show', book_path(@book.id) %>
        <a>|</a>
        <%= link_to 'Back', books_path %>
      <% end %>
    </div>
  </div>
</div>