<h2><strong>Books</strong></h2>

<table>
  <tr>
    <th>Title</th>
    <th>Opinion</th>
  </tr>
  
  <% @books.each do |book| %>
  <tr>
    <td><%= book.title %></td>
    <td><%= book.body %></td>
  </tr>
</table>
 <% end %>


<h2><strong>New book</strong></h2>
<%= form_with model: @book do |f| %>
  
  <div class="book-title">Title</div>
    <%= f.text_field :title %>
  
  <div class="book-body">Opinion</div>
    <%= f.text_area :body %>
      
  <br><%= f.submit "Create Book" %></br>
    
<% end %>
