<!-- Booksの一覧ページ -->
<h2><strong>Books</strong></h2>

<%= render 'users/user_info', books: @books %>

<table>
  <tr>
    <th>Title</th>
    <th>Opinion</th>
  </tr>
  
  <% @books.each do |book| %>
    <%= image_tag book.get_profile_image %>
  <tr>
    <td><%= image_tag 'sample-author1.jpg' %></td>
    <td><%= book.title %></td>
    <td><%= book.body %></td>
  </tr>
  <% end %>
</table>


